* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body, 
html {overflow-x: hidden;
}

a {
  text-decoration: none;
  color: #000;
}

.header-container {
  position: fixed;
  width: 100%;
  z-index: 999;
  padding: 10px;
  top: 0;
  left: 0;
  right: 0;
}

img {
  width: 100%;
  display: block;
}

.header {
  height: 100%;
}

.logo img {
  height: 50px;
  display: block;
  width: auto;
}

.logo {
  display: block;
}

#hero {
  background-image: url("./bilder/Header-img.jpg");
  background-position: top center;
  background-size: cover;
  height: 80vh;
  margin-bottom: 160px;
  position: relative;
}

.hero-text {
  position: absolute;
  top: 100%;
  text-align: center;
  width: 100%;
  margin-top: 40px;
}

/* button */
.btn {
  color: white;
  background-color: #AC4C50;
  padding: 10px 30px;
  margin-top: 5px;
  font-weight: 800;
  border-radius: 10px;
  display: inline-block;
  text-transform: uppercase;
  border: none;
}

.container {
  padding: 20px;
}

#columns .text {
  color: grey;
  text-align: center;
  margin-bottom: 20px;
}

.form-text h1 {
  color: #AC4C50;
  font-weight: 400;
  text-align: center;
  width: 100%;
}

.form-text p {
  color: gray;
  text-align: center;
  width: 100%;
  margin-bottom: 20px;
}

#footer {
  background-color: #dcdcdc;
  padding: 20px;
  text-align: center;
}

.form {
  text-align: center;
}

input {
  border: 1px solid #dcdcdc;
  border-radius: 10px;
  padding: 10px;
  width: 100%;
  margin-bottom: 10px;
}

@media (min-width: 768px) {
  #hero {
    margin: 0;
  }
  .hero-text {
    top: auto;
    bottom: 20%;
    left: 10%;
    right: auto;
    text-align: left;
    color: white;
  }

  .logo img {
    margin-left: 10%;
  }

  .container {
    max-width: 800px;
    margin: 0 auto;
  }

  #columns {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
  }

  .bild {
    width: 700px;
    margin: 0 auto;
  }

  .inputs {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  input {
    width: 375px;
  }
}

video {
    width: 100%;
    height: auto;
}